*__pycache__
.DS_Store

tmp
case
testcase
fig
output
bak
benchmarks
*.log

# mockturtle
tools/mockturtle/build
tools/mockturtle/build-*
tools/mockturtle/.vscode/
tools/mockturtle/**/*~
tools/mockturtle/**/.DS_Store
tools/mockturtle/docs/_build
tools/mockturtle/docs/doxyxml